body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://lh3.googleusercontent.com/proxy/r5wcBJn1ns4C2W2bByE8gkdA5qzc7EdAznCx9ym_iJ1seaVBstFEmoE1w9WpFNmOeKsh2CiXXD8cROZErNmEGJBhgXLEpJLn_-o7MDxVVLHdNl5nXd_KBK_UX0HVN_KkMvkmYos-PdiH");
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
