.header {
  text-decoration: underline;
  margin-bottom: 40px;
}

.rootDiv {
  display: flex;
  direction: row;
  justify-content: space-between;
  padding-right: 22vw;
  padding-left: 22vw;
}

.form {
  display: flex;
  direction: row;
  justify-content: space-between;
  width: 250px !important;
  height: 50px;
  margin-right: 20px;
}

.select_from {
  width: 250px !important;
  text-align: center !important;
}

.Country {
  width: 250px;
  margin-right: 20px;
}

.dateField {
  width: 120px;
  margin-bottom: 0px;
  height: 50px;
}

.Notes {
  width: 250px;
  margin-right: 20px;
}

.Form_btn {
  width: 250px;
  margin-right: 20px;
}
